<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icon.png">              {{! icon Area section}}
    <link rel="stylesheet" href="/css/style.css">       {{! css file Area section}}
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>               {{! header Area section}}
        <h1>{{errorMessage}}</h1>           {{! errorMessage Area section}}
    </div>
    
    <h1>{{>footer}}</h1>        {{! footer Area section}}
</body>

</html>