<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css"> 
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <h1>{{errorMessage}}</h1>
    </div>
    
    <h1>{{>footer}}</h1>
</body>

</html>