<!DOCTYPE html>

<html>
    <title>About Weather</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
<head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>    
        <img class="portrait" src="./img/weather.jpg">
    </div>
    
    <h1>{{>footer}}</h1>
</body>

</head>

</html>