<!DOCTYPE html>

<html>
    <title>About Weather</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
<head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1> 
        <p>Weather is the state of the atmosphere, describing for example the degree to which it<br> is hot or cold, wet or dry, calm or stormy, clear or cloudy. Weather refers to day-to-day temperature and precipitation activity, whereas climate is the term for the averaging of atmospheric conditions over longer periods of time.</p>   
        <img class="portrait" src="./img/weather.jpg">
    </div>
    
    <h1>{{>footer}}</h1>
</body>

</head>

</html>