<!DOCTYPE html>

<html>

<head>
    <title>Contact us</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
    
        <p>If you have any query, kindly connect with us</p>
        <p>Mobile: +91-8826609437</p>
    </div>

    <h1>{{>footer}}</h1>
    
</body>

</html>