<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1> {{! header Area section}}
        <p>Enter the Location for Weather Update</p>

        {{! location search Area section}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        {{! message Area section}}
        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    <h1>{{>footer}}</h1> {{!footer Area section}}

    <script src="/js/app.js"></script>
</body>


</html>